(
  name: "App Profiles",
  description: "Launch specified Apps with Profiles\nSyntax: { <2CharAppShorthand> } <ProfileName>\nExample: ff MyFirefoxProfile",
  bin: (
    path: "./src/main.rs" //"./ff-profiles ",
  )
  icon: Name("utilities-terminal"),
  query: (
    // Optional -- if we should isolate this plugin when the regex matches
    isolate: true,
    // Optional -- Plugin which searches on empty queries
    persistent: false,
    // Optional -- avoid sorting results from this plugin
    no_sort: false,
    // Optional -- pattern that a query must have to be sent to plugin
    regex: "^\\s{2} " // "^.. .+/i"
  )
)