(
  name: "App profiles",
  description: "Syntax: <2CharShorthand> <ProfileName>\nExample: ff MyFirefoxProfile",
  query: (
    regex: r"^(\S{2} ).*$",
    help: "",
    isolate: true,
    no_sort: true,
    persistent: false,
  ),
  bin: (
    path: "app-profiles",
    args: ["-v"],
  ),
  icon: Name("new-window-symbolic"),
)
