(
  shorthand: "ff",
  cmd: "/usr/bin/firefox",
  args: "-P",
  profile_dirs: [
    "~/.mozilla/firefox"
  ],
  profile_filename: Some("profiles.ini"),
  profile_regex: r"\[Profile\d+\]\nName=(.+)\n",
  opt_entries: Some([
    (
      name: "Manage",
      desc: Some("Manage Firefox Profiles"),
      cmd: None,
      args: Some("-ProfileManager"),
    ),
  ]),
  icon: Some("firefox"),
)