(
  shorthand: "ff",
  cmd: "firefox",
  args: "-P",
  profile_dirs: [
    "~/.mozilla/firefox"
  ],
  profile_regex: r"^(?:.*\d+.*)\.(\S+)$", // "(?:.*\\d+.*))\\.(\\S+)$"
  opt_entries: Some([
    (
      name: "Manage Profiles",
      cmd: None,
      args: Some("-ProfileManager"),
    ),
  ]),
  icon: Some("firefox"),
)