(
  shorthand: "vs",
  cmd: "/usr/share/code/code",
  args: "--unity-launch",
  profile_dirs: [
    "~/.vscode",
    "~/",
  ],
  profile_filename: None,
  profile_regex: r"^(.*)\.code-workspace$",
  opt_entries: None,
  icon: Some("com.visualstudio.code"),
)